*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab

# Node
node_modules/

# Signing keys
*.jks
*.p12
*.key
*.mobileprovision
*.keystore
